@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

:root {
  --primary-color: #423d6d;
  --secondary-color: #6d423d;
  --tertiary-color: #3d6d42;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url("http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png");
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right;
  background-origin: content-box;
  background-color: white;
  border: none;
}

body {
  font-family: "Nunito", sans-serif;
  background: #407245;
}

main {
  background: var(--tertiary-color);
  padding: 1em;
  text-align: center;
  margin: auto;
  max-width: 800px;
}

form {
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: 3px solid var(--primary-color);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  border: 0.2em solid var(--secondary-color);
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5em;
  outline: none;
  top: 0.2em;
  background: white;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  background: var(--primary-color);
  left: -0.05em;
  top: -0.05em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
}

input[type="checkbox"] {
  display: none;
  pointer-events: none;
}

input[type="checkbox"] + label {
  margin-top: 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 3fr;
  align-items: center;
}

input[type="checkbox"]:checked + label .check {
  stroke-dashoffset: 0;
}

svg {
  width: 2em;
  stroke: var(--primary-color);
  stroke-width: 3;
  fill: white;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  fill: white;
  transition: stroke-dashoffset 0.3s linear;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  stroke: var(--primary-color);
  fill: none;
  transition: stroke-dashoffset 0.3s linear;
}

h1 {
  font-size: 2.5em;
  position: relative;
  margin: 0.5em;
}

h1:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  background: var(--primary-color);
  left: 100;
  top: 47px;
  border-radius: 1em;
}
p {
  font-size: 1.1em;
  line-height: 1.5;
}

label {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
}

.left-label {
  display: unset;
  font-weight: normal;
  margin-right: 2em;
}

.error {
  display: none;
}

#submit {
  display: block;
  margin: 1em 0;
  padding: 0.5em 2em;
  border-radius: 0;
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 1.2em;
}

@media (min-width: 550px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fraction 1fr 1fr;
    grid-gap: 1em;
    align-items: top;
  }

  .formrow {
    height: 80px;
  }
}

@media (min-width: 850px) {
  main {
  }

  body {
  }
}
